@font-face {
    font-family: h1font;
    src: url(./src/Fonts/Outfit-Black.ttf);
}
    @font-face {
        font-family: pfont;
        src: url(./src/Fonts/Outfit-Thin.ttf);
}
    body{
    background-color: #d5e1ef;
    justify-content: center;
    display: flex;
    align-items: center;
}
.main-box{
    width: 300px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-items: center;
    margin-top: 200px;
}  
.qr{
    border-radius: 10px;
    width: 250px;
    height: 100%;
    margin: 25px 25px;
}
h1{
    color: #141414;
    font-size: 20px;
    text-align: center;
    font-family: h1font;
    margin-top: -10px;
}
.text{
    font-size: 14px;
    text-align: center;
    color: rgb(124, 124, 124);
    font-family: pfont;
    font-weight: 600;
}